
<div class="page-wrapper">
<div class="page-body">
    
      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header pb-0 text-center">
                <h5>Agent Registration Form</h5>
              </div>
              <div class="card-body">
                <form class="f1" method="post">
                  <div class="f1-steps">
                    <div class="f1-progress">
                      <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3"></div>
                    </div>
                    <div class="f1-step active">
                      <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                      <p>Personal Information</p>
                    </div>
                    <div class="f1-step">
                      <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                      <p>Company Profile</p>
                    </div>
                    <div class="f1-step">
                      <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                      <p>Other Information</p>
                    </div>
                  </div>

                  <fieldset>

                    <div class="form-group">
                        <label for="f1-email-add">Email Address</label>
                        <input class="form-control" id="f1-email-add" type="text" name="email_add">
                      </div>
                      <div class="form-group">
                        <label for="f1-password">Password</label>
                        <input class="form-control" id="f1-password" type="text" name="password">
                      </div> 
                      <div class="form-group">
                        <label for="f1-con-password">Confirm Password</label>
                        <input class="form-control" id="f1-con-password" type="text" name="confirm_password">
                      </div>

                      <div class="form-group">
                        &nbsp;
                      </div>  

                    <div class="form-group">
                      <label for="f1-first-name">First Name</label>
                      <input class="form-control" id="f1-first-name" type="text" name="first_name">
                    </div>
                    <div class="form-group">
                        <label for="f1-middle-name">Middle Name</label>
                        <input class="form-control" id="f1-middle-name" type="text" name="middle_name" >
                      </div>
                    <div class="form-group">
                      <label for="f1-last-name">Last name</label>
                      <input class="form-control" id="f1-last-name" type="text" name="last_name">
                    </div>
                    <div class="form-group">
                        <label for="f1-bday">Birthdate</label>
                        <input class="form-control" id="f1-bday" type="text" name="bday">
                      </div>
                      <div class="form-group">
                        <label for="f1-mobile">Mobile Number</label>
                        <input class="form-control" id="f1-mobile" type="text" name="mobile">
                      </div>
                      <div class="form-group">
                        <label for="f1-acct-type">Account Type</label>
                        <input class="form-control" id="f1-acct-type" type="text" name="acount_type">
                      </div>

                      <div class="f1-buttons">
                        <button class="btn btn-primary btn-next" type="button">Next</button>
                      </div>
                  </fieldset>



                  <fieldset>
                    <div class="form-group">
                        <label for="f1-comp-id">Company ID</label>
                        <input class="form-control" id="f1-comp-id" type="text" name="comp_id">
                      </div>
                      <div class="form-group">
                        <label for="f1-comp-name">Company Name</label>
                        <input class="form-control" id="f1-comp-name" type="text" name="comp_name">
                      </div>
                      <div class="form-group">
                        <label for="f1-comp-logo">Company Logo</label>
                        <input class="form-control" id="f1-comp-logo" type="text" name="comp_logo">
                      </div>

                      <div class="form-group">
                        <label for="f1-comp-address">Company Address</label>
                        <input class="form-control" id="f1-comp-address" type="text" name="comp_address">
                      </div>

                      
                    <div class="f1-buttons">
                      <button class="btn btn-primary btn-previous" type="button">Previous</button>
                      &nbsp;
                      <button class="btn btn-primary btn-next" type="button">Next</button>
                    </div>
                  </fieldset>
                  <fieldset>

                    <div class="form-group">
                        <label for="f1-id-type">ID Type</label>
                        <input class="form-control" id="f1-id-type" type="text" name="id_type">
                      </div>

                      <div class="form-group">
                        <label for="f1-id-no">ID No.</label>
                        <input class="form-control" id="f1-id-no" type="text" name="id_no">
                      </div>

                      <div class="form-group">
                        <label for="f1-id-exdate">ID Expiry Date</label>
                        <input class="form-control" id="f1-id-exdate" type="text" name="id_exp_date">
                      </div>

                      <div class="form-group">
                        &nbsp;
                      </div>  
                    <div class="form-group">
                        <label for="f1-bank-slip">Deposit Slip</label>
                        <input class="form-control" id="f1-bank-slip" type="text" name="bank_slip">
                      </div>
                      <div class="form-group">
                        <label for="f1-bank-accnt">Bank Account</label>
                        <input class="form-control" id="f1-bank-accnt" type="text" name="bank_account">
                      </div>
                      <div class="form-group">
                        <label for="f1-bank-amount">Amount</label>
                        <input class="form-control" id="f1-bank-amount" type="text" name="bank_amount">
                      </div>
                      <div class="form-group">
                        <label for="f1-bank-name">Bank Name</label>
                        <input class="form-control" id="f1-bank-name" type="text" name="bank_name">
                      </div>
                      <div class="form-group">
                        <label for="f1-ref-no">Referrence Number</label>
                        <input class="form-control" id="f1-ref-no" type="text" name="referrence_number">
                      </div> 
                    <div class="f1-buttons">
                      <button class="btn btn-primary btn-previous" type="button">Previous</button>
                      &nbsp;
                      <button class="btn btn-primary btn-submit" type="submit">Submit</button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

